html, body {
    margin: 0;
    border: 0;
    padding: 0;
}

.parent {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

/* Largest circle class */
.circle-1 {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background: black;
}